.showModal {
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
    cursor: default;
}

.properitesModal,
.modalContent {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    z-index: 101;
    background-color: #BFBFBF;
    margin: 10% auto; /* 15% from the top and centered */
    width: fit-content; /* Could be more or less, depending on screen size */
    height: 50%;
    
    overflow: auto; /* Enable scroll if needed */
    border-radius: 5px;
}

.modalHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 20px;
}

.modalTitle {
    margin: 0;
    margin-right: 100px;
    color: #212121;
    font-size: 25px;
}

.modalBtnContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.modalBtn {
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalBtn:hover {
    cursor: pointer;
}

.modalBtnContainer .modalBtn {
    margin: 0 5px
}

.modalBtnContainer .modalBtn:last-child {
    margin-right: 0;
}

.headerSpacer {
    margin: 0 10px 8px 10px;
    width: calc(100% - 20px);
    height: 2px;
    background-color: #212121;
}

.groups {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.group {
    font-size: 20px;
    padding: 5px 40px;
    padding-left: 20px;
    background-color: #212121;
    color: #BFBFBF;
}

.component {
    margin: 0;
    padding: 10px 20px;
    text-align: center;
}

.component:hover {
    background-color: #212121;
    color: #BFBFBF;
    cursor: pointer;
}

.components .component:first-child {
    border-bottom: none;
}

.components .component:nth-child(n+3):last-child {
    border-top: none;
}

.tabs {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 0 25px;
    margin-bottom: 10px;
}

.tabOption {
    margin-right: 15px;
}

.tabSelected {
    border-bottom: 2px solid #212121;
}

.tabOption:hover {
    cursor: pointer;
}

.properties {
    width: calc(100% - 50px);
    margin: 0 25px
}

.modalField {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15px;
}

.modalInput,
.modalLabel {
    font-size: 20px;
    padding: 0;
    color: #212121;
}

.modalInput {
    padding: 2px;
    border: 1px solid #212121;
}

.modalInput:focus {
    outline: 1px solid #212121;
}

.labelWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.errorInput {
    color: darkred;
    border: solid 1px darkred;
}

.errorInput:focus {
    outline: 1px solid darkred;
}

.errorText {
    color: darkred;
    margin: 0;
}

